<h1>Check in at a glance</h1>
<p>Welcome to Francis,</p><br>
<p>We've been expecting you.</p>
<%= button_to 'Sign Up Today', 'sign', class: 'btn btn-success'  %>

<div class= "align">
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8 text-center">
      <img src="http://www.bobmarley.com/wp-content/uploads/2013/11/bob-marley-wallpaper1.jpg" height="150">
    </div>
    <div class='col-sm-4'>
      <img src="http://www.bobmarley.com/wp-content/uploads/2013/11/bob-marley-wallpaper1.jpg" height="150">
      <img src="http://www.bobmarley.com/wp-content/uploads/2013/11/bob-marley-wallpaper1.jpg"  height="150">
      <img src="http://www.bobmarley.com/wp-content/uploads/2013/11/bob-marley-wallpaper1.jpg"  height="150" >
      <img src="http://www.bobmarley.com/wp-content/uploads/2013/11/bob-marley-wallpaper1.jpg"  height="150">
    </div>
  </div>
</div>
</div>

    </div>
